.App {
  height: 100vh;
  padding: 0px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hotels {
  display: flex;
}
.hotel {
  padding: 2px 16px;
  margin: 0px 5px;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  flex: 1;
  gap: 10px;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.hotel:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.delete {
  border: none;
  padding: 3px 6px;
  background-color: white;
  cursor: pointer;
  color: red;
  transition: 0.3s;
}
.delete:hover {
  background-color: antiquewhite;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.update {
  border: none;
  padding: 3px 6px;
  margin-bottom: 10px;
  background-color: white;
  cursor: pointer;
  color: rgb(2, 2, 216);
}
.update Link{
    text-decoration: none;
}
.update:hover {
  background-color: antiquewhite;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.main_add{
    margin-top: 10px;
    text-decoration: none;
    border: none;
    padding: 10px;
    background-color: coral;
    color: white;
    cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  font-family: "Roboto", sans-serif;
  color: #333;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

.add_update_button{
	border: none;
    padding: 10px;
    background-color: coral;
    color: white;
    cursor: pointer;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

.content-login{
  background-color: #1D5C63;
}

.form-wrapper{
  position: absolute;
  left: 50%;
  top: 50%;
  padding:60px;
  width: 430px;
  border-radius: 4px;
  background-color: #1A3C40;
  transform: translate(-50%,-50%);
}

.form-wrapper h2 {
  color: #EDE6DB;
  font-size: 2rem;
}
.form-wrapper form {
  margin: 25px 0 65px;
}

.form-login .form-control{
  position: relative;
  height:50px;
  margin-bottom: 16px;
}
.form-control input{
  height: 100%;
  width: 100%;
  background-color: #417D7A;
  color: #EDE6DB;
  outline:none;
  border: none;
  font-size:1rem;
  border-radius: 4px;
  padding: 0 20px;
  opacity: 0.5;
}
.form-control input:is(:focus,:valid) {
  padding: 16px 20px 0;
  opacity: 1;
}


.form-control label{
  position:absolute;
  left: 20px;
  top:50%;
  color: #EDE6DB;
  opacity: 50%;
  pointer-events: none;
  font-size: 1rem;
  transform: translateY(-50%);
  transition: all 0.1s ease;
}

.form-control input:is(:focus,:valid) ~ label{
  font-size: 0.75rem;
  transform: translateY(-130%);
}

.form-login button{
  width: 100%;
  padding: 16px;
  font-size: 1rem;
  color: #EDE6DB;
  background:  #1D5C63;
  outline: none;
  border:none;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 500;
  margin: 25px 0 10px;
  opacity: 1;
  transition: 0.1s ease;
}

.form-login button:hover{
  opacity: 0.5;
}

.form-wrapper :where(p,a) {
  color: #EDE6DB;
}
.form-wrapper p a{
  color: #fff;
}
.form-wrapper a{
  text-decoration: none;
}
.form-wrapper a:hover{
  text-decoration: underline;
}